@font-face {
  font-family: 'iconfont';  /* project id 956215 */
  src: url('//at.alicdn.com/t/font_956215_y48gj4elqj.eot');
  src: url('//at.alicdn.com/t/font_956215_y48gj4elqj.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_956215_y48gj4elqj.woff') format('woff'),
  url('//at.alicdn.com/t/font_956215_y48gj4elqj.ttf') format('truetype'),  url('//at.alicdn.com/t/font_956215_y48gj4elqj.svg#iconfont') format('svg');
}
.tu,.biao{
  font-family:"iconfont" !important;
  font-size:22px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;}
 *{
    margin: 0;
    padding: 0;
 }
 img{
    display: block;
 }
 li{
     list-style: none;
 }
#MainContent{
    height: 722px;
  background: url(../img/1429142403994910134.jpg) center top no-repeat ;
  opacity: 0.6;        
}
#m-content{
    width:1002px;
    height:722px;
    margin:0 auto;
    position: relative;
}
#biaodan{
    width: 340px;
    height: 506px;
    background: white;
    position: absolute;
    right:90px;
    top: 90px;
    p{
    width: 280px;
    height: 22px;
    float: left;
    margin:20px 0 2px 28px;
    font-size: 12px;
        a{
          margin:0 10px;
          color:red;
          font-size: 12px;
        }
    }
    ul{
        margin:42px 0 0 28px;   
        width: 280px;
        height: 400px;
        li{
            width:280px;
            height:40px;
            margin-bottom:40px;
            position: relative;
            input{
                width: 252px;
                line-height: 40px;               
                padding-left: 22px;
            }
            .tu,.biao{
                position:absolute;
                left:1px;
                top:9px;
            }
            .regi{
                width:280px;
                background:red;
                border:0;
                color:white;
                text-align: center;
                font-size: 20px;
                border-radius: 6px;
                margin-top:10px;
            }
        }
        .check{
               width:280px;
               height:21px;
               input{
                   width:21px;
                   height:21px;
                   float: left;
               }
               a{
                   font-size:14px;
                   float: right;
               }
        }           
                             
    }
    span{
        display:block;
        width:252px;
        height: 40px;
        font-size:14px;
        padding-left:28px;
        position: relative;
        img{
            width:40px;
            height:40px;
            position:absolute;
            top:-12px;
            left:159px;         
        }
    }
}